* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  height: 100vh;
  padding-block: 10rem;
}

img {
  max-width: 100%;
}

.gallery {
  width: 80%;
  max-width: 1200px;
  margin-inline: auto;
  height: 55rem;
  display: grid;
  place-content: center ;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 40% 60%;
}

.gallery__item{
  background-size: cover;
  background-position: center;
}

.gallery__item:nth-child(1){
  background-image: url('assets/car1.jpg');
}
.gallery__item:nth-child(2){
  background-image: url('assets/car2.jpg');
}
.gallery__item:nth-child(3){
  background-image: url('assets/car3.jpg');
}
.gallery__item:nth-child(4){
  background-image: url('assets/car4.jpg');
}
.gallery__item:nth-child(5){
  background-image: url('assets/car5.jpg');
}

.gallery__item:nth-child(5) {
  grid-column: 2/-1;
  object-fit: cover;
}
